<p class="red">Clicks: {{counter}}</p>

<button (click)="increment()">Click me!</button>

<app-child [val]="counter"></app-child>

<form [formGroup]="form" (submit)="onSubmit()">
  <label for="tel">Phone:</label>
  <input type="tel" id="tel" formControlName="k1">
  <button type="submit">Submit</button>
</form>

<p *ngIf="form.get('k1').hasError('required')">
  Por favor ingresa tu teléfono
</p>
<p *ngIf="form.get('k1').hasError('minlength')">
  Por favor ingresa al menos 7 dígitos
</p>
<p *ngIf="form.get('k1').hasError('maxlength')">
  Por favor ingresa hasta 9 dígitos
</p>

{{form.get('k1').errors | json}}


<ul>
  <li *ngFor="let i of arr">{{i}}</li>
</ul>

<hr/>

<h2>Github component</h2>
<app-github></app-github>

<hr>
<h2>Games component</h2>
<app-games></app-games>
